
<h5>angular-grpc-single</h5>
<p>{{greet | json}}</p>
<h5>angular-grpc-bidirectional</h5>
<p>{{bidirectionalResponse }}</p>
<h5>error-grpc-list</h5>
<ul>
  <li *ngFor="let item of api.errorList">
    {{item}}
  </li>
</ul>
<h5>angular-grpc-serverstream</h5>



  <div *ngIf="bidirectionalResponseObs1 | async as bidirectionalResponseObs1;else loading">
    <li *ngFor="let item of bidirectionalResponseObs1;let i = index">
      {{item}} Process {{i}}
    </li>
  </div>
<ng-template #loading>Loading Data</ng-template>

