<!--
<h5>angular-grpc-single</h5>
<p>{{greet | json}}</p>
<h5>angular-grpc-bidirectional</h5>
<p>{{bidirectionalResponse }}</p>
<h5>error-grpc-list</h5>
<ul>
  <li *ngFor="let item of api.errorList">
    {{item}}
  </li>
</ul>
<h5>angular-grpc-serverstream</h5>



  <div *ngIf="bidirectionalResponseObs1 | async as bidirectionalResponseObs1;else loading">
    <li *ngFor="let item of bidirectionalResponseObs1;let i = index">
      {{item}} Process {{i}}
    </li>
  </div>
<ng-template #loading>Loading Data</ng-template>
 -->
 <div class="container">

      <div class="form-group">
        <input type="file" class="btn btn-primary" (change)="onFileSelect($event.target)" name="myfile">
      </div>

     <ngb-alert
     *ngIf="bidirectionalResponse"
     type="success"
     (close)="bidirectionalResponse = null">{{ bidirectionalResponse }}</ngb-alert>
     <p><ngb-progressbar *ngIf="bidirectionalResponse" showValue="true" type="warning" [value]="progressLength" [max]="totalLength"></ngb-progressbar></p>
      <div *ngIf="bidirectionalResponseObs1 | async as bidirectionalResponseObs1">
          <div class="col-sm-5" style="padding-top:20px;padding-bottom:20px;" >
              <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter">
          </div>
          <table class="table table-striped">
              <thead>
                  <tr>

                    <th scope="col">Message</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of bidirectionalResponseObs1 |  FilterPipe:filter |
                     paginate: { itemsPerPage: 10, currentPage: p }">

                      <td>{{item}}</td>
                  </tr>
              </tbody>
          </table>
          <ul class="pagination">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
      </div>


</div>
