<!--
<h5>angular-grpc-single</h5>
<p>{{greet | json}}</p>
<h5>angular-grpc-bidirectional</h5>
<p>{{bidirectionalResponse }}</p>
<h5>error-grpc-list</h5>
<ul>
  <li *ngFor="let item of api.errorList">
    {{item}}
  </li>
</ul>
<h5>angular-grpc-serverstream</h5>



  <div *ngIf="bidirectionalResponseObs1 | async as bidirectionalResponseObs1;else loading">
    <li *ngFor="let item of bidirectionalResponseObs1;let i = index">
      {{item}} Process {{i}}
    </li>
  </div>
<ng-template #loading>Loading Data</ng-template>
 -->
 <nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">FileLoader</a>
  <div class="form-inline">
    <input type="file" class="btn btn-outline-success my-2 my-sm-0" (change)="onFileSelect($event.target)" name="myfile">
    <button type="button" class="btn btn-info my-2 my-sm-0" (click)="loadDBRecords()">LoadData</button>
  </div>
</nav>
 <div class="container">


      <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="large"
      color="#fff"
      type="ball-scale-multiple"
    >
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
     <ngb-alert
     *ngIf="bidirectionalResponse"
     type="success"
     (close)="bidirectionalResponse = null">{{ bidirectionalResponse }} Please LoadData

    </ngb-alert>
     <p><ngb-progressbar *ngIf="bidirectionalResponseObs1 | async as bidirectionalResponseObs1" showValue="true" type="warning" [value]="progressLength" [max]="totalLength"></ngb-progressbar></p>
      <div *ngIf="bidirectionalResponseObs1 | async as bidirectionalResponseObs1">
          <div class="col-sm-5" style="padding-top:20px;padding-bottom:20px;" >
              <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter">
          </div>
          <table class="table table-striped">
              <thead>
                  <tr>

                    <th scope="col">Message</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of bidirectionalResponseObs1 |  FilterPipe:filter |
                     paginate: { itemsPerPage: 10, currentPage: p }">

                      <td>{{item}}</td>
                  </tr>
              </tbody>
          </table>
          <ul class="pagination">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
      </div>


</div>
